@import "~bootstrap/scss/bootstrap";

:root {
  --green: #03FFA5;
  --pink: #EE0E7D;
  --black: #000000;

  --grey: #F2F2F2;
  --dark-grey: #5B5B5B;

  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}


html {
  @media (max-width: 1080px) {
    font-size: 93.75%
  }

  @media (max-width: 720px) {
    font-size: 87.5%
  }
}

body {
  -webkit-font-smoothin: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  max-height: 576px;
  overflow: overlay;
  background: var(--white);
  padding: 3rem;
  position: relative;
  border-radius: 0.24rem;

  @media (max-width: 768px) {
    max-height: none;
    height: -webkit-fill-available;
  }
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8)
  }
}

.grow0 {
  flex-grow: 0;
}

.grow1 {
  flex-grow: 1;
}

.grow2 {
  flex-grow: 2;
}

.container {
  max-width: 1024px;
}